html, body {
    height: 100%;
    background-color: var(--color-background);
}

:root {
    --color-destak: #16A34A;
    --color-background: #f0f9f0;
    --color-footer: #1f2937;
}

.form-container {
    max-width: 350px;
    padding: 1rem;
}

.btn-primary {
    background-color: var(--color-destak);
}

.footer a{
    text-decoration: none;
    color: black;
}

.footer a:hover{
    color: var(--color-destak);
}
