@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin: 2rem 0;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: 2rem 0;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}

p {
    font-size: 1.2rem;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #007BFF;
}
